secrets/*
.DS_Store

# Python
bin/
lib/
lib64
share/
__pycache__/
dist/
build/
env/
pyvenv.cfg
.vscode/**
.pytest_cache/
xgboost/**
test.xml
pip-selfcheck.json
.idea/
.coverage
.ipynb_checkpoints
__scratch__*
*.egg-info/**
slurm*
fin_model/
data/**
app.log
*.log
